name: FluentBlogs.com
on:
  push:
    branches:
      - main
  schedule:
    - cron: '*/30 * * * *'
    # - cron: '*/15 4-10 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.repository }}-${{ github.ref }}

jobs:
  deploy:
    name: Build Job - ${{ github.run_number }} - ${{ steps.timestamp.outputs.timestamp }}
    runs-on: ubuntu-latest
    steps:
     

      - name: Set workflow name with start time
        run: echo "WORKFLOW_NAME=$(date +'%Y-%m-%d %H:%M:%S') - Your Workflow Name" >> $GITHUB_ENV
        
      - name: Display Workflow Name
        run: echo $WORKFLOW_NAME
      
      - name: Display Current India Time
        run: |
          CURRENT_TIME=$(TZ=Asia/Kolkata date +"%T")
          echo "Current India time: $CURRENT_TIME"
      - name: Display Current Time
        run: |
          CURRENT_TIME=$(date -u +"%T")
          echo "Current time: $CURRENT_TIME"
      - uses: actions/checkout@v3
      - name: Configure Git
        run: |
          git config user.name "Nicober Mani"
          git config user.email "iamnicober@email.com"
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Cache Python dependencies
        id: cache-pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: python-deps-${{ runner.os }}-pip-${{ hashFiles('python/requirements.txt') }}
          restore-keys: |
            python-deps-${{ runner.os }}-pip-
            python-deps-${{ runner.os }}-
            ${{ runner.os }}-
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r python/requirements.txt
          playwright install
      - name: Run Python files in one step
        run: |
          python python/scrapnews.py
          python python/nse.py
          python python/scraptwitter.py

      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
        name: List the state of node modules
        continue-on-error: true
        run: npm list

      - name: Install dependencies
        run: npm install
     
      - name: Build website
        run: |
          CURRENT_HOUR=$(date -u +"%H")
          CURRENT_MINUTE=$(date -u +"%M")
          if [ $CURRENT_HOUR -eq 9 ] && [ $CURRENT_MINUTE -ge 28 ] && [ $CURRENT_MINUTE -le 45 ]; then
            echo "Running news build"
            npm run build1
          elif [ $CURRENT_HOUR -eq 21 ] && [ $CURRENT_MINUTE -ge 28 ] && [ $CURRENT_MINUTE -le 45 ]; then
            echo "Running news build"
            npm run build1
          else
            echo "Running normal build as it is not between 9:30 AM - 9:35 AM or 9:30 PM - 9:35 PM."
            npm run build
          fi


      - name: Commit changes
        run: |
          git add .
          git commit -m "Automated commit"
          git push

      - name: Deploy FluentBlogs.com
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
