name: Deploy FluentBlogs.com

on:
  push:
    branches:
      - main
  schedule:
    - cron: '*/30 * * * *'
    # - cron: '*/15 4-10 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.repository }}-${{ github.ref }}

jobs:
  deploy:
    name: Deploy FluentBlogs.com
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Cache Python dependencies
        id: cache-pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: python-deps-${{ runner.os }}-pip-${{ hashFiles('python/requirements.txt') }}
          restore-keys: |
            python-deps-${{ runner.os }}-pip-
            python-deps-${{ runner.os }}-
            ${{ runner.os }}-
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r python/requirements.txt
          playwright install
      - name: Run Python files in one step
        run: |
          python python/scrapnews.py
          python python/nse.py
          python python/scraptwitter.py

      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
        name: List the state of node modules
        continue-on-error: true
        run: npm list

      - name: Install dependencies
        run: npm install

      - name: Build website
        run: npm run build

      - name: Deploy FluentBlogs.com
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
