name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
  schedule:
    # run every 15 minutes between 9:30am to 3:30pm IST (GMT+5:30)
    - cron: '*/15 4-10 * * *'

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: npm i
      - name: Build website
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
